
#boardTable {
    margin-top: 10px;
    width: 100%;

}

#boardTable tr:not(:first-child):hover {
    background-color: #efefef; cursor: pointer;
}
.selected {color: chocolate; font-width: 500;}

.pageContainer {display: flex; padding: 10px 50px; justify-content: center;}
.pageContainer div:not(:first-child) {margin-left: 8px;}